body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

canvas {
  border: 5px solid #333; /* Épaisseur et couleur de la bordure */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optionnel : effet d'ombre pour un look plus esthétique */
}